*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
        background-color: #efefef;
}
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.wrapper{
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    height: 100vh;

}
.container{
    width: 1200px;
    margin: 0 auto;
}
/*крестик*/
.cross{
    color: #f00;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
}
.cross:hover,
        .cross:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

/*                    modal-window*/

.modal{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal-content{
    padding: 30px;
    position: relative;
    border: 1px solid red;
    border-radius: 5px;
    /*width: 500px;*/
    background-color: #fff;
}



.form{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.form-group {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /*flex-content    */
}
.form-group label{
    margin-bottom: 5px;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #000000;
    height: 30px;
    width: 300px;
}

.form-add-visit{
    text-decoration: none;
    background-color: red;
    color: #000;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
}

.autorisation-submit{
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid red;
}
.error{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;

}
/*                    modal-window*/




.header{
    background-color: #fff;
    border-bottom: 1px solid red;
    width: 100%;
    margin-bottom: 10px;
}
.header .container{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
}
.header-logo{
    font-size: 30px;
    color: red;
}
.header-btn{
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid red ;
    padding: 2px;
    border-radius: 2px;
    background-color: red;
    color: #fff;
}
.header-btn.hide{
    display: none;
}
.header-btn:hover{
    background-color: #fff;
    color: red;
}
.header-btn--create.hide{
    display: none;
}

.main{
    max-width: 1200px;
    border: 1px solid red;
    margin: 0 auto;
    background-color: #fff;
    min-height: 600px;
}
.visit-board {
    display: flex;
    /*flex-direction: column;*/
}
/*card*/

.card{
    width: 200px;
    background-color: #aaf;
    margin: 20px;
    padding: 5px;
    z-index: 0;
    position: relative;
}

.card-show_more{
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer
}

.card-edit{
    color: #ff0;
    position: absolute;
    right: 30px;
    top: 5px;
    cursor: pointer;
    font-size: 20px;
}

/*card*/
